<div class="header">
  <h1>日本酒いかが</h1>
  <%= form_with url: search_path, method: :get, local: true, class: "flex items-center space-x-2" do |form| %>
    <div>
      <label for="title">タイトル:</label>
      <%= text_field_tag :title, params[:title], placeholder: "タイトルで検索" %>
    </div>

    <div>
      <label for="sake_name">銘柄:</label>
      <%= text_field_tag :sake_name, params[:sake_name], placeholder: "銘柄で検索" %>
    </div>

    <div>
      <label for="username">ユーザーネーム:</label>
      <%= text_field_tag :username, params[:username], placeholder: "ユーザーネームで検索" %>
    </div>

    <div>
      <%= form.submit "検索", class: "bg-blue-500 text-white p-2 rounded" %>
    </div>
    <p>ログイン中: <%= current_user.username %></p>
  <% end %>
</div>

<div class="sidebar">
  <%= link_to '新規投稿', new_post_path %>
  <%= link_to 'メニュー', menu_path %>
</div>

<div class="content">
  <h2>投稿一覧</h2>
  <% @posts.each do |post| %>
    <div>
      <h2><%= link_to post.title, post_path(post) %></h2>
      <p>投稿者: <%= post.user.username %></p>
      <p>投稿日: <%= post.created_at.strftime('%Y-%m-%d') %></p>
    </div>
  <% end %>
</div>
