<div class="header">
  <h1>日本酒いかが</h1>
  <%= link_to '投稿一覧へ', posts_path %>
</div>

<div class="content">
  <h2>投稿を編集</h2>
  <%= form_with(model: @post, local: true) do |form| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "エラー") %>が発生しました:</h2>
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :title, "タイトル" %>
      <%= form.text_field :title, class: "input input-bordered border-black w-full" %>
    </div>

    <div>
      <%= form.label :sake_name, "銘柄" %>
      <%= form.text_field :sake_name, class: "input input-bordered border-black w-full" %>
    </div>

    <div>
      <%= form.label :taste_rating, "口当たり (1-5)" %>
      <div class="rating rating-lg flex items-center">
        <%= form.radio_button :taste_rating, 1, class: "rating-hidden" %>
        <%= form.radio_button :taste_rating, 2, class: "mask mask-star-2" %>
        <%= form.radio_button :taste_rating, 3, class: "mask mask-star-2" %>
        <%= form.radio_button :taste_rating, 4, class: "mask mask-star-2" %>
        <%= form.radio_button :taste_rating, 5, class: "mask mask-star-2" %>
      </div>
    </div>

    <div>
      <%= form.submit "更新", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
